.container {
  width: 50%;
  margin: 4rem auto 0 auto;

  .box_text {
    color: #000;

    h1 {
      font-family: "Press Start 2P", cursive;
      text-align: center;
    }

    p {
      margin-top: 2rem;
      text-align: center;
      font-size: 1.1rem;
    }
  }

  .box_img {
    margin-top: 3rem;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
