.container {
  width: 50%;
  margin: 5rem auto 0 auto;

  .box_text {
    color: #fff;

    h1 {
      color: #fff;
      text-align: center;
    }

    p {
      text-align: center;
      margin-top: 2rem;
    }
  }

  .box_img {
    margin-top: 5rem;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
