@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0px;
    padding: 0px;
    background-color: #13131F;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*
    font-family: 'Poppins', sans-serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Press Start 2P', cursive;
    */
}